p.loginButton{
    float: right;
}

p.cancelButton{
    float: left;
}

div#dialogLogin{
    display: none; /* Hidden by default */
    width: 170px;
    height: 205px;
    margin-left: 60px;
    background-color: darkslategrey;
    padding: 10px;
}