
/*
This document contains the style preferences
for all visual components on te HTML pages, such
as colors, sizes and positions.
*/

body {
    background-color: darkkhaki;
    margin: 40px;
}

table{
    color: darkslategrey;
}

h1.pagetitle{
    color: darkslategrey;
    font-size: 300%;
    margin: 20px;
    text-align: center;
}

h1:first-letter {
    font-size: larger;
    font-weight: bolder;
    font-style: oblique;
}

input.playable{
    float: left;
    width: 35px;
    height: 35px;

    margin: 2px;
}

table#board{

    margin: auto;
    position: relative;
    top: 50%;
    /*width: 500px;*/
    /*height:800px;*/
}

div.pile{
    position: relative;
    width: 39px;
}

button#btnLogin{
    float: left;
}