
/*
This document contains the style preferences
for all visual components on te HTML pages, such
as colors, sizes and positions.
*/

body {
    background-color: darkkhaki;
    margin: 40px;
}

table.boardtable{
    color: darkslategrey;
}

table{
    color: darkkhaki;
}

.page-title {
    color: darkslategrey;
    font-size: 300%;
    text-decoration: underline;
}

.normal-text{
    color: darkkhaki;
}

input.playable{
    float: left;
    width: 35px;
    height: 35px;

    margin: 2px;
}

.board{
    margin-right: 60px;
    /*width: 500px;*/
    /*height:800px;*/
}

.pile{
    position: relative;
    width: 39px;
}

.normal-button{
    width: 100px;
    height: 45px;
    float: left;
    background-color: darkslategrey;
    color: darkkhaki;
    cursor: pointer;
    margin-bottom: 8px;
}

.start-button{
    width: 100px;
    height: 45px;
    float: left;
    background-color: darkslategrey;
    color: darkkhaki;
    cursor: pointer;
    margin-top: 8px;
    margin-bottom: 8px;
}

.normal-button:disabled,
.normal-button[disabled] {
    background-color: darkgrey;
}

.start-button:disabled,
.start-button[disabled] {
    background-color: darkgrey;
}

.alternative-button-small{
    width: auto;
    height: 25px;
    float: left;
    background-color: darkkhaki;
    color: darkslategrey;
    cursor: pointer;
    margin-bottom: 8px;
}

.menu{

    width: 170px;
    height: auto;

}

.vertical-block{
    float: left;
    display: inline-block;
}

.close{
    float: right;
    color: darkkhaki;
    cursor: pointer;
}

.bottom-right{
    position: absolute;
    right:    8px;
    bottom:   2px;
}

.window{
    margin-bottom: 15px;
}

/*makes piles 4 and 5 invisible by default*/
.pile#pile4{
    display: none;
}
.pile#pile5{
    display: none;
}
